<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#140b3a;">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">ROSHARO</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>

        </div>
      </div>
    </nav>
    <br>
    <br><br><br> <br>
  <div class="row">  
  <div class="col-md-2" >


  
  <div class="jumbotron" style="padding-left:20px;">
    <h2>FAQ's</h2>
    <p>Your questions answered</p>
  </div>
  

  
</div>
  
  <div class="col-md-8">
  <div class="panel-group" id="accordion" >
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> What does ROSHARO do?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">ROSHARO is a platform to connect the needy to the volunteers with NGO's as a medium.
                                    In today's busy world, it is very difficult for a volunteer who wants to help at a particular time in his vicinity to use his service.
                                    On the other hand, there are a many people who are in dire need of help.
                                    ROSHARO steps in this scenario, and allows a seamless delivery of service by the volunteers to the needy with its exclusive website.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> How can you help?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"> Just as the saying goes "Service to man is service to God". If you have spare time and a skill set that can uplift the needy from their deprived situations, you can volunteer.
                                    Just register on our site and list in your preferable timings.
                                    We will provide you the suitable places where you can volunteer according to your preferred timimgs and in your vicinity.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> How can the needy register?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body"> The needy can put in their requirements by calling our 24 hours Toll free no.<a href="tel:180090067812">180090067812</a>.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> How can the volunteers register?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"> The volunteers can register on the register page as follows <a href="/register">Register Here</a></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"> What skill set do I require to volunteer?</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">You just need a heart to serve.if you possess a specific skill set like maybe teaching or you are a doctor etc., and if you mention it during registration we will be able to guide you better </div>
      </div>
    </div>


  </div>
</div>
</div>

    
</body>
</html>