
body {font-family: "Lato", sans-serif;}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
}


#header
{
    background: #006BB6;
}
#childcard
{
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
    background-color: #dee0e5;
    text-align: left;
    padding-left: 10px;
    display:block;
    box-shadow: 0 0 5px -1px black;

}
#childcard img
{
    height: 80px;
    width: 80px;
    float: left;
    margin: 20px
}